/*
 * Simple Earn REST API
 *
 * Earn rewards by subscribing to flexible or locked Simple Earn products.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

#![allow(unused_imports)]
use async_trait::async_trait;
use derive_builder::Builder;
use reqwest;
use rust_decimal::prelude::*;
use serde::{Deserialize, Serialize};
use serde_json::{Value, json};
use std::collections::BTreeMap;

use crate::common::{
    config::ConfigurationRestApi,
    models::{ParamBuildError, RestApiResponse},
    utils::send_request,
};
use crate::simple_earn::rest_api::models;

const HAS_TIME_UNIT: bool = false;

#[async_trait]
pub trait YieldArenaApi: Send + Sync {
    async fn get_yield_arena_activities(
        &self,
        params: GetYieldArenaActivitiesParams,
    ) -> anyhow::Result<RestApiResponse<models::GetYieldArenaActivitiesResponse>>;
}

#[derive(Debug, Clone)]
pub struct YieldArenaApiClient {
    configuration: ConfigurationRestApi,
}

impl YieldArenaApiClient {
    pub fn new(configuration: ConfigurationRestApi) -> Self {
        Self { configuration }
    }
}

/// Request parameters for the [`get_yield_arena_activities`] operation.
///
/// This struct holds all of the inputs you can pass when calling
/// [`get_yield_arena_activities`](#method.get_yield_arena_activities).
#[derive(Clone, Debug, Builder, Deserialize, Default)]
#[builder(pattern = "owned", build_fn(error = "ParamBuildError"))]
pub struct GetYieldArenaActivitiesParams {
    /// Locale tag for `title` and `description` (e.g. `en`, `zh-CN`, `pt-BR`). Default: `en`.
    /// If the value is missing, malformed, or has no translation configured, content is returned in `en`.
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "lang", default)]
    pub lang: Option<String>,
    ///
    /// The `recv_window` parameter.
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "recvWindow", default)]
    pub recv_window: Option<i64>,
}

impl GetYieldArenaActivitiesParams {
    /// Create a builder for [`get_yield_arena_activities`].
    ///
    #[must_use]
    pub fn builder() -> GetYieldArenaActivitiesParamsBuilder {
        GetYieldArenaActivitiesParamsBuilder::default()
    }
}

#[async_trait]
impl YieldArenaApi for YieldArenaApiClient {
    async fn get_yield_arena_activities(
        &self,
        params: GetYieldArenaActivitiesParams,
    ) -> anyhow::Result<RestApiResponse<models::GetYieldArenaActivitiesResponse>> {
        let GetYieldArenaActivitiesParams { lang, recv_window } = params;

        let mut query_params = BTreeMap::new();
        let mut body_params = BTreeMap::new();

        if let Some(rw) = recv_window {
            query_params.insert("recvWindow".to_string(), json!(rw));
        }

        if let Some(rw) = lang {
            body_params.insert("lang".to_string(), json!(rw));
        }

        send_request::<models::GetYieldArenaActivitiesResponse>(
            &self.configuration,
            "/sapi/v1/earn/arena/activities",
            reqwest::Method::GET,
            query_params,
            body_params,
            if HAS_TIME_UNIT {
                self.configuration.time_unit
            } else {
                None
            },
            true,
        )
        .await
    }
}

#[cfg(all(test, feature = "simple_earn"))]
mod tests {
    use super::*;
    use crate::TOKIO_SHARED_RT;
    use crate::{errors::ConnectorError, models::DataFuture, models::RestApiRateLimit};
    use async_trait::async_trait;
    use std::collections::HashMap;

    struct DummyRestApiResponse<T> {
        inner: Box<dyn FnOnce() -> DataFuture<Result<T, ConnectorError>> + Send + Sync>,
        status: u16,
        headers: HashMap<String, String>,
        rate_limits: Option<Vec<RestApiRateLimit>>,
    }

    impl<T> From<DummyRestApiResponse<T>> for RestApiResponse<T> {
        fn from(dummy: DummyRestApiResponse<T>) -> Self {
            Self {
                data_fn: dummy.inner,
                status: dummy.status,
                headers: dummy.headers,
                rate_limits: dummy.rate_limits,
            }
        }
    }

    struct MockYieldArenaApiClient {
        force_error: bool,
    }

    #[async_trait]
    impl YieldArenaApi for MockYieldArenaApiClient {
        async fn get_yield_arena_activities(
            &self,
            _params: GetYieldArenaActivitiesParams,
        ) -> anyhow::Result<RestApiResponse<models::GetYieldArenaActivitiesResponse>> {
            if self.force_error {
                return Err(ConnectorError::ConnectorClientError {
                    msg: "ResponseError".to_string(),
                    code: None,
                }
                .into());
            }

            let resp_json: Value = serde_json::from_str(r#"{"activities":[{"activityId":10001,"activityType":"AIRDROP","title":"Hold FDUSD & Earn BNB Airdrop","description":"Subscribe to FDUSD Flexible and earn bonus BNB airdrop.","rewardPoolInUsd":"50000","rewardToken":["BNB"],"redirectUrl":"https://www.binance.com/en/earn/arena/airdrop-123","startTime":1713052800000,"endTime":1713657600000}]}"#).unwrap_or_else(|_| serde_json::json!({}));
            let dummy_response: models::GetYieldArenaActivitiesResponse =
                serde_json::from_value(resp_json.clone())
                    .expect("should parse into models::GetYieldArenaActivitiesResponse");

            let dummy = DummyRestApiResponse {
                inner: Box::new(move || Box::pin(async move { Ok(dummy_response) })),
                status: 200,
                headers: HashMap::new(),
                rate_limits: None,
            };

            Ok(dummy.into())
        }
    }

    #[test]
    fn get_yield_arena_activities_required_params_success() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockYieldArenaApiClient { force_error: false };

            let params = GetYieldArenaActivitiesParams::builder().build().unwrap();

            let resp_json: Value = serde_json::from_str(r#"{"activities":[{"activityId":10001,"activityType":"AIRDROP","title":"Hold FDUSD & Earn BNB Airdrop","description":"Subscribe to FDUSD Flexible and earn bonus BNB airdrop.","rewardPoolInUsd":"50000","rewardToken":["BNB"],"redirectUrl":"https://www.binance.com/en/earn/arena/airdrop-123","startTime":1713052800000,"endTime":1713657600000}]}"#).unwrap_or_else(|_| serde_json::json!({}));
            let expected_response : models::GetYieldArenaActivitiesResponse = serde_json::from_value(resp_json.clone()).expect("should parse into models::GetYieldArenaActivitiesResponse");

            let resp = client.get_yield_arena_activities(params).await.expect("Expected a response");
            let data_future = resp.data();
            let actual_response = data_future.await.unwrap();
            assert_eq!(actual_response, expected_response);
        });
    }

    #[test]
    fn get_yield_arena_activities_optional_params_success() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockYieldArenaApiClient { force_error: false };

            let params = GetYieldArenaActivitiesParams::builder().lang("en".to_string()).recv_window(5000).build().unwrap();

            let resp_json: Value = serde_json::from_str(r#"{"activities":[{"activityId":10001,"activityType":"AIRDROP","title":"Hold FDUSD & Earn BNB Airdrop","description":"Subscribe to FDUSD Flexible and earn bonus BNB airdrop.","rewardPoolInUsd":"50000","rewardToken":["BNB"],"redirectUrl":"https://www.binance.com/en/earn/arena/airdrop-123","startTime":1713052800000,"endTime":1713657600000}]}"#).unwrap_or_else(|_| serde_json::json!({}));
            let expected_response : models::GetYieldArenaActivitiesResponse = serde_json::from_value(resp_json.clone()).expect("should parse into models::GetYieldArenaActivitiesResponse");

            let resp = client.get_yield_arena_activities(params).await.expect("Expected a response");
            let data_future = resp.data();
            let actual_response = data_future.await.unwrap();
            assert_eq!(actual_response, expected_response);
        });
    }

    #[test]
    fn get_yield_arena_activities_response_error() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockYieldArenaApiClient { force_error: true };

            let params = GetYieldArenaActivitiesParams::builder().build().unwrap();

            match client.get_yield_arena_activities(params).await {
                Ok(_) => panic!("Expected an error"),
                Err(err) => {
                    assert_eq!(err.to_string(), "Connector client error: ResponseError");
                }
            }
        });
    }
}
