/*
 * Stocks Trading REST API
 *
 * REST APIs for Binance Stocks Trading. All endpoints under `/sapi/v1/equity/_*`.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

#![allow(unused_imports)]
use async_trait::async_trait;
use derive_builder::Builder;
use reqwest;
use rust_decimal::prelude::*;
use serde::{Deserialize, Serialize};
use serde_json::{Value, json};
use std::collections::BTreeMap;

use crate::common::{
    config::ConfigurationRestApi,
    models::{ParamBuildError, RestApiResponse},
    utils::send_request,
};
use crate::stocks::rest_api::models;

const HAS_TIME_UNIT: bool = false;

#[async_trait]
pub trait TokenizedApi: Send + Sync {
    async fn tokenized_convert_history(
        &self,
        params: TokenizedConvertHistoryParams,
    ) -> anyhow::Result<RestApiResponse<models::TokenizedConvertHistoryResponse>>;
    async fn tokenized_convert_status(
        &self,
        params: TokenizedConvertStatusParams,
    ) -> anyhow::Result<RestApiResponse<models::TokenizedConvertStatusResponse>>;
    async fn tokenized_mint(
        &self,
        params: TokenizedMintParams,
    ) -> anyhow::Result<RestApiResponse<models::TokenizedMintResponse>>;
    async fn tokenized_redeem(
        &self,
        params: TokenizedRedeemParams,
    ) -> anyhow::Result<RestApiResponse<models::TokenizedRedeemResponse>>;
}

#[derive(Debug, Clone)]
pub struct TokenizedApiClient {
    configuration: ConfigurationRestApi,
}

impl TokenizedApiClient {
    pub fn new(configuration: ConfigurationRestApi) -> Self {
        Self { configuration }
    }
}

#[allow(non_camel_case_types)]
#[derive(Debug, Clone, Serialize, Deserialize)]
pub enum TokenizedConvertStatusConvertTypeEnum {
    #[serde(rename = "MINT")]
    Mint,
    #[serde(rename = "REDEEM")]
    Redeem,
}

impl TokenizedConvertStatusConvertTypeEnum {
    #[must_use]
    pub fn as_str(&self) -> &'static str {
        match self {
            Self::Mint => "MINT",
            Self::Redeem => "REDEEM",
        }
    }
}

impl std::str::FromStr for TokenizedConvertStatusConvertTypeEnum {
    type Err = Box<dyn std::error::Error + Send + Sync>;

    fn from_str(s: &str) -> Result<Self, Self::Err> {
        match s {
            "MINT" => Ok(Self::Mint),
            "REDEEM" => Ok(Self::Redeem),
            other => {
                Err(format!("invalid TokenizedConvertStatusConvertTypeEnum: {}", other).into())
            }
        }
    }
}

/// Request parameters for the [`tokenized_convert_history`] operation.
///
/// This struct holds all of the inputs you can pass when calling
/// [`tokenized_convert_history`](#method.tokenized_convert_history).
#[derive(Clone, Debug, Builder, Deserialize, Default)]
#[builder(pattern = "owned", build_fn(error = "ParamBuildError"))]
pub struct TokenizedConvertHistoryParams {
    /// Start time (ms epoch).
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "startTime", default)]
    pub start_time: Option<i64>,
    /// End time (ms epoch).
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "endTime", default)]
    pub end_time: Option<i64>,
    /// Last record id from the previous page. Omit (or leave unset) to fetch the first page.
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "lastId", default)]
    pub last_id: Option<i64>,
    /// Page size. Default `20`, max `100`.
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "size", default)]
    pub size: Option<i32>,
    /// The value cannot be greater than `60000`.
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "recvWindow", default)]
    pub recv_window: Option<i64>,
}

impl TokenizedConvertHistoryParams {
    /// Create a builder for [`tokenized_convert_history`].
    ///
    #[must_use]
    pub fn builder() -> TokenizedConvertHistoryParamsBuilder {
        TokenizedConvertHistoryParamsBuilder::default()
    }
}
/// Request parameters for the [`tokenized_convert_status`] operation.
///
/// This struct holds all of the inputs you can pass when calling
/// [`tokenized_convert_status`](#method.tokenized_convert_status).
#[derive(Clone, Debug, Builder, Deserialize)]
#[builder(pattern = "owned", build_fn(error = "ParamBuildError"))]
pub struct TokenizedConvertStatusParams {
    /// Convert request id returned by `/tokenized/mint` or `/redeem`.
    ///
    /// This field is **required.
    #[builder(setter(into))]
    #[serde(rename = "issuerRequestId")]
    pub issuer_request_id: String,
    /// `MINT` or `REDEEM`.
    ///
    /// This field is **required.
    #[builder(setter(into))]
    #[serde(rename = "convertType")]
    pub convert_type: TokenizedConvertStatusConvertTypeEnum,
    /// The value cannot be greater than `60000`.
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "recvWindow", default)]
    pub recv_window: Option<i64>,
}

impl TokenizedConvertStatusParams {
    /// Create a builder for [`tokenized_convert_status`].
    ///
    /// Required parameters:
    ///
    /// * `issuer_request_id` — Convert request id returned by `/tokenized/mint` or `/redeem`.
    /// * `convert_type` — `MINT` or `REDEEM`.
    ///
    #[must_use]
    pub fn builder(
        issuer_request_id: String,
        convert_type: TokenizedConvertStatusConvertTypeEnum,
    ) -> TokenizedConvertStatusParamsBuilder {
        TokenizedConvertStatusParamsBuilder::default()
            .issuer_request_id(issuer_request_id)
            .convert_type(convert_type)
    }
}
/// Request parameters for the [`tokenized_mint`] operation.
///
/// This struct holds all of the inputs you can pass when calling
/// [`tokenized_mint`](#method.tokenized_mint).
#[derive(Clone, Debug, Builder, Deserialize)]
#[builder(pattern = "owned", build_fn(error = "ParamBuildError"))]
pub struct TokenizedMintParams {
    /// Underlying US-equity ticker, e.g. `AAPL`, `TSLA`. Resolved against the active-symbol list; unknown tickers return `-26004`. The target tokenized asset is looked up from this field via `/market/tokenized-assets`.
    ///
    /// This field is **required.
    #[builder(setter(into))]
    #[serde(rename = "underlyingAsset")]
    pub underlying_asset: String,
    /// Quantity of the underlying asset to mint from. Must be > 0.
    ///
    /// This field is **required.
    #[builder(setter(into))]
    #[serde(rename = "underlyingAssetAmount")]
    pub underlying_asset_amount: String,
    /// Client order id for idempotency. Format `^[a-zA-Z0-9-_]{32,36}$`. Auto-generated when omitted.
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "clientOrderId", default)]
    pub client_order_id: Option<String>,
    /// The value cannot be greater than `60000`.
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "recvWindow", default)]
    pub recv_window: Option<i64>,
}

impl TokenizedMintParams {
    /// Create a builder for [`tokenized_mint`].
    ///
    /// Required parameters:
    ///
    /// * `underlying_asset` — Underlying US-equity ticker, e.g. `AAPL`, `TSLA`. Resolved against the active-symbol list; unknown tickers return `-26004`. The target tokenized asset is looked up from this field via `/market/tokenized-assets`.
    /// * `underlying_asset_amount` — Quantity of the underlying asset to mint from. Must be > 0.
    ///
    #[must_use]
    pub fn builder(
        underlying_asset: String,
        underlying_asset_amount: String,
    ) -> TokenizedMintParamsBuilder {
        TokenizedMintParamsBuilder::default()
            .underlying_asset(underlying_asset)
            .underlying_asset_amount(underlying_asset_amount)
    }
}
/// Request parameters for the [`tokenized_redeem`] operation.
///
/// This struct holds all of the inputs you can pass when calling
/// [`tokenized_redeem`](#method.tokenized_redeem).
#[derive(Clone, Debug, Builder, Deserialize)]
#[builder(pattern = "owned", build_fn(error = "ParamBuildError"))]
pub struct TokenizedRedeemParams {
    /// Tokenized asset to redeem, e.g. `AAPLB`. Not a US-equity ticker — this is the on-chain tokenized asset identifier. Unknown asset returns `-1102` (the message currently says the parameter was empty/malformed, but it was in fact sent — it is simply unknown). The target underlying ticker is looked up from this field via `/market/tokenized-assets`.
    ///
    /// This field is **required.
    #[builder(setter(into))]
    #[serde(rename = "tokenizedAsset")]
    pub tokenized_asset: String,
    /// Quantity of the tokenized asset to redeem. Must be > 0.
    ///
    /// This field is **required.
    #[builder(setter(into))]
    #[serde(rename = "tokenizedAssetAmount")]
    pub tokenized_asset_amount: String,
    /// Client order id for idempotency. Format `^[a-zA-Z0-9-_]{32,36}$`. Auto-generated when omitted.
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "clientOrderId", default)]
    pub client_order_id: Option<String>,
    /// The value cannot be greater than `60000`.
    ///
    /// This field is **optional.
    #[builder(setter(into), default)]
    #[serde(rename = "recvWindow", default)]
    pub recv_window: Option<i64>,
}

impl TokenizedRedeemParams {
    /// Create a builder for [`tokenized_redeem`].
    ///
    /// Required parameters:
    ///
    /// * `tokenized_asset` — Tokenized asset to redeem, e.g. `AAPLB`. Not a US-equity ticker — this is the on-chain tokenized asset identifier. Unknown asset returns `-1102` (the message currently says the parameter was empty/malformed, but it was in fact sent — it is simply unknown). The target underlying ticker is looked up from this field via `/market/tokenized-assets`.
    /// * `tokenized_asset_amount` — Quantity of the tokenized asset to redeem. Must be > 0.
    ///
    #[must_use]
    pub fn builder(
        tokenized_asset: String,
        tokenized_asset_amount: String,
    ) -> TokenizedRedeemParamsBuilder {
        TokenizedRedeemParamsBuilder::default()
            .tokenized_asset(tokenized_asset)
            .tokenized_asset_amount(tokenized_asset_amount)
    }
}

#[async_trait]
impl TokenizedApi for TokenizedApiClient {
    async fn tokenized_convert_history(
        &self,
        params: TokenizedConvertHistoryParams,
    ) -> anyhow::Result<RestApiResponse<models::TokenizedConvertHistoryResponse>> {
        let TokenizedConvertHistoryParams {
            start_time,
            end_time,
            last_id,
            size,
            recv_window,
        } = params;

        let mut query_params = BTreeMap::new();
        let body_params = BTreeMap::new();

        if let Some(rw) = start_time {
            query_params.insert("startTime".to_string(), json!(rw));
        }

        if let Some(rw) = end_time {
            query_params.insert("endTime".to_string(), json!(rw));
        }

        if let Some(rw) = last_id {
            query_params.insert("lastId".to_string(), json!(rw));
        }

        if let Some(rw) = size {
            query_params.insert("size".to_string(), json!(rw));
        }

        if let Some(rw) = recv_window {
            query_params.insert("recvWindow".to_string(), json!(rw));
        }

        send_request::<models::TokenizedConvertHistoryResponse>(
            &self.configuration,
            "/sapi/v1/equity/tokenized/history",
            reqwest::Method::GET,
            query_params,
            body_params,
            if HAS_TIME_UNIT {
                self.configuration.time_unit
            } else {
                None
            },
            true,
        )
        .await
    }

    async fn tokenized_convert_status(
        &self,
        params: TokenizedConvertStatusParams,
    ) -> anyhow::Result<RestApiResponse<models::TokenizedConvertStatusResponse>> {
        let TokenizedConvertStatusParams {
            issuer_request_id,
            convert_type,
            recv_window,
        } = params;

        let mut query_params = BTreeMap::new();
        let body_params = BTreeMap::new();

        query_params.insert("issuerRequestId".to_string(), json!(issuer_request_id));

        query_params.insert("convertType".to_string(), json!(convert_type));

        if let Some(rw) = recv_window {
            query_params.insert("recvWindow".to_string(), json!(rw));
        }

        send_request::<models::TokenizedConvertStatusResponse>(
            &self.configuration,
            "/sapi/v1/equity/tokenized/convert-status",
            reqwest::Method::GET,
            query_params,
            body_params,
            if HAS_TIME_UNIT {
                self.configuration.time_unit
            } else {
                None
            },
            true,
        )
        .await
    }

    async fn tokenized_mint(
        &self,
        params: TokenizedMintParams,
    ) -> anyhow::Result<RestApiResponse<models::TokenizedMintResponse>> {
        let TokenizedMintParams {
            underlying_asset,
            underlying_asset_amount,
            client_order_id,
            recv_window,
        } = params;

        let mut query_params = BTreeMap::new();
        let body_params = BTreeMap::new();

        query_params.insert("underlyingAsset".to_string(), json!(underlying_asset));

        query_params.insert(
            "underlyingAssetAmount".to_string(),
            json!(underlying_asset_amount),
        );

        if let Some(rw) = client_order_id {
            query_params.insert("clientOrderId".to_string(), json!(rw));
        }

        if let Some(rw) = recv_window {
            query_params.insert("recvWindow".to_string(), json!(rw));
        }

        send_request::<models::TokenizedMintResponse>(
            &self.configuration,
            "/sapi/v1/equity/tokenized/mint",
            reqwest::Method::POST,
            query_params,
            body_params,
            if HAS_TIME_UNIT {
                self.configuration.time_unit
            } else {
                None
            },
            true,
        )
        .await
    }

    async fn tokenized_redeem(
        &self,
        params: TokenizedRedeemParams,
    ) -> anyhow::Result<RestApiResponse<models::TokenizedRedeemResponse>> {
        let TokenizedRedeemParams {
            tokenized_asset,
            tokenized_asset_amount,
            client_order_id,
            recv_window,
        } = params;

        let mut query_params = BTreeMap::new();
        let body_params = BTreeMap::new();

        query_params.insert("tokenizedAsset".to_string(), json!(tokenized_asset));

        query_params.insert(
            "tokenizedAssetAmount".to_string(),
            json!(tokenized_asset_amount),
        );

        if let Some(rw) = client_order_id {
            query_params.insert("clientOrderId".to_string(), json!(rw));
        }

        if let Some(rw) = recv_window {
            query_params.insert("recvWindow".to_string(), json!(rw));
        }

        send_request::<models::TokenizedRedeemResponse>(
            &self.configuration,
            "/sapi/v1/equity/tokenized/redeem",
            reqwest::Method::POST,
            query_params,
            body_params,
            if HAS_TIME_UNIT {
                self.configuration.time_unit
            } else {
                None
            },
            true,
        )
        .await
    }
}

#[cfg(all(test, feature = "stocks"))]
mod tests {
    use super::*;
    use crate::TOKIO_SHARED_RT;
    use crate::{errors::ConnectorError, models::DataFuture, models::RestApiRateLimit};
    use async_trait::async_trait;
    use std::collections::HashMap;

    struct DummyRestApiResponse<T> {
        inner: Box<dyn FnOnce() -> DataFuture<Result<T, ConnectorError>> + Send + Sync>,
        status: u16,
        headers: HashMap<String, String>,
        rate_limits: Option<Vec<RestApiRateLimit>>,
    }

    impl<T> From<DummyRestApiResponse<T>> for RestApiResponse<T> {
        fn from(dummy: DummyRestApiResponse<T>) -> Self {
            Self {
                data_fn: dummy.inner,
                status: dummy.status,
                headers: dummy.headers,
                rate_limits: dummy.rate_limits,
            }
        }
    }

    struct MockTokenizedApiClient {
        force_error: bool,
    }

    #[async_trait]
    impl TokenizedApi for MockTokenizedApiClient {
        async fn tokenized_convert_history(
            &self,
            _params: TokenizedConvertHistoryParams,
        ) -> anyhow::Result<RestApiResponse<models::TokenizedConvertHistoryResponse>> {
            if self.force_error {
                return Err(ConnectorError::ConnectorClientError {
                    msg: "ResponseError".to_string(),
                    code: None,
                }
                .into());
            }

            let resp_json: Value = serde_json::from_str(r#"{"rows":[{"underlyingAsset":"AAPL","underlyingAssetAmount":"1.000000000","tokenizedAsset":"AAPLB","tokenizedAssetAmount":"1.000000000","issuerRequestId":"mint-20260505-8f3b9e1a2d3c4b5a","convertType":"MINT","status":"S","createdAt":1735900000000,"updatedAt":1735900060000}],"hasMore":true,"nextLastId":10020}"#).unwrap_or_else(|_| serde_json::json!({}));
            let dummy_response: models::TokenizedConvertHistoryResponse =
                serde_json::from_value(resp_json.clone())
                    .expect("should parse into models::TokenizedConvertHistoryResponse");

            let dummy = DummyRestApiResponse {
                inner: Box::new(move || Box::pin(async move { Ok(dummy_response) })),
                status: 200,
                headers: HashMap::new(),
                rate_limits: None,
            };

            Ok(dummy.into())
        }

        async fn tokenized_convert_status(
            &self,
            _params: TokenizedConvertStatusParams,
        ) -> anyhow::Result<RestApiResponse<models::TokenizedConvertStatusResponse>> {
            if self.force_error {
                return Err(ConnectorError::ConnectorClientError {
                    msg: "ResponseError".to_string(),
                    code: None,
                }
                .into());
            }

            let resp_json: Value = serde_json::from_str(r#"{"underlyingAsset":"AAPL","underlyingAssetAmount":"1.000000000","tokenizedAsset":"AAPLB","tokenizedAssetAmount":"1.000000000","issuerRequestId":"mint-20260505-8f3b9e1a2d3c4b5a","convertType":"MINT","status":"S","createdAt":1735900000000,"updatedAt":1735900060000}"#).unwrap_or_else(|_| serde_json::json!({}));
            let dummy_response: models::TokenizedConvertStatusResponse =
                serde_json::from_value(resp_json.clone())
                    .expect("should parse into models::TokenizedConvertStatusResponse");

            let dummy = DummyRestApiResponse {
                inner: Box::new(move || Box::pin(async move { Ok(dummy_response) })),
                status: 200,
                headers: HashMap::new(),
                rate_limits: None,
            };

            Ok(dummy.into())
        }

        async fn tokenized_mint(
            &self,
            _params: TokenizedMintParams,
        ) -> anyhow::Result<RestApiResponse<models::TokenizedMintResponse>> {
            if self.force_error {
                return Err(ConnectorError::ConnectorClientError {
                    msg: "ResponseError".to_string(),
                    code: None,
                }
                .into());
            }

            let resp_json: Value = serde_json::from_str(
                r#"{"issuerRequestId":"mint-20260505-8f3b9e1a2d3c4b5a","status":"P"}"#,
            )
            .unwrap_or_else(|_| serde_json::json!({}));
            let dummy_response: models::TokenizedMintResponse =
                serde_json::from_value(resp_json.clone())
                    .expect("should parse into models::TokenizedMintResponse");

            let dummy = DummyRestApiResponse {
                inner: Box::new(move || Box::pin(async move { Ok(dummy_response) })),
                status: 200,
                headers: HashMap::new(),
                rate_limits: None,
            };

            Ok(dummy.into())
        }

        async fn tokenized_redeem(
            &self,
            _params: TokenizedRedeemParams,
        ) -> anyhow::Result<RestApiResponse<models::TokenizedRedeemResponse>> {
            if self.force_error {
                return Err(ConnectorError::ConnectorClientError {
                    msg: "ResponseError".to_string(),
                    code: None,
                }
                .into());
            }

            let resp_json: Value = serde_json::from_str(
                r#"{"issuerRequestId":"redeem-20260505-a1b2c3d4e5f6","status":"P"}"#,
            )
            .unwrap_or_else(|_| serde_json::json!({}));
            let dummy_response: models::TokenizedRedeemResponse =
                serde_json::from_value(resp_json.clone())
                    .expect("should parse into models::TokenizedRedeemResponse");

            let dummy = DummyRestApiResponse {
                inner: Box::new(move || Box::pin(async move { Ok(dummy_response) })),
                status: 200,
                headers: HashMap::new(),
                rate_limits: None,
            };

            Ok(dummy.into())
        }
    }

    #[test]
    fn tokenized_convert_history_required_params_success() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: false };

            let params = TokenizedConvertHistoryParams::builder().build().unwrap();

            let resp_json: Value = serde_json::from_str(r#"{"rows":[{"underlyingAsset":"AAPL","underlyingAssetAmount":"1.000000000","tokenizedAsset":"AAPLB","tokenizedAssetAmount":"1.000000000","issuerRequestId":"mint-20260505-8f3b9e1a2d3c4b5a","convertType":"MINT","status":"S","createdAt":1735900000000,"updatedAt":1735900060000}],"hasMore":true,"nextLastId":10020}"#).unwrap_or_else(|_| serde_json::json!({}));
            let expected_response : models::TokenizedConvertHistoryResponse = serde_json::from_value(resp_json.clone()).expect("should parse into models::TokenizedConvertHistoryResponse");

            let resp = client.tokenized_convert_history(params).await.expect("Expected a response");
            let data_future = resp.data();
            let actual_response = data_future.await.unwrap();
            assert_eq!(actual_response, expected_response);
        });
    }

    #[test]
    fn tokenized_convert_history_optional_params_success() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: false };

            let params = TokenizedConvertHistoryParams::builder().start_time(1735800000000).end_time(1735900000000).last_id(10019).size(20).recv_window(5000).build().unwrap();

            let resp_json: Value = serde_json::from_str(r#"{"rows":[{"underlyingAsset":"AAPL","underlyingAssetAmount":"1.000000000","tokenizedAsset":"AAPLB","tokenizedAssetAmount":"1.000000000","issuerRequestId":"mint-20260505-8f3b9e1a2d3c4b5a","convertType":"MINT","status":"S","createdAt":1735900000000,"updatedAt":1735900060000}],"hasMore":true,"nextLastId":10020}"#).unwrap_or_else(|_| serde_json::json!({}));
            let expected_response : models::TokenizedConvertHistoryResponse = serde_json::from_value(resp_json.clone()).expect("should parse into models::TokenizedConvertHistoryResponse");

            let resp = client.tokenized_convert_history(params).await.expect("Expected a response");
            let data_future = resp.data();
            let actual_response = data_future.await.unwrap();
            assert_eq!(actual_response, expected_response);
        });
    }

    #[test]
    fn tokenized_convert_history_response_error() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: true };

            let params = TokenizedConvertHistoryParams::builder().build().unwrap();

            match client.tokenized_convert_history(params).await {
                Ok(_) => panic!("Expected an error"),
                Err(err) => {
                    assert_eq!(err.to_string(), "Connector client error: ResponseError");
                }
            }
        });
    }

    #[test]
    fn tokenized_convert_status_required_params_success() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: false };

            let params = TokenizedConvertStatusParams::builder("mint-20260505-8f3b9e1a2d3c4b5a".to_string(),TokenizedConvertStatusConvertTypeEnum::Mint,).build().unwrap();

            let resp_json: Value = serde_json::from_str(r#"{"underlyingAsset":"AAPL","underlyingAssetAmount":"1.000000000","tokenizedAsset":"AAPLB","tokenizedAssetAmount":"1.000000000","issuerRequestId":"mint-20260505-8f3b9e1a2d3c4b5a","convertType":"MINT","status":"S","createdAt":1735900000000,"updatedAt":1735900060000}"#).unwrap_or_else(|_| serde_json::json!({}));
            let expected_response : models::TokenizedConvertStatusResponse = serde_json::from_value(resp_json.clone()).expect("should parse into models::TokenizedConvertStatusResponse");

            let resp = client.tokenized_convert_status(params).await.expect("Expected a response");
            let data_future = resp.data();
            let actual_response = data_future.await.unwrap();
            assert_eq!(actual_response, expected_response);
        });
    }

    #[test]
    fn tokenized_convert_status_optional_params_success() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: false };

            let params = TokenizedConvertStatusParams::builder("mint-20260505-8f3b9e1a2d3c4b5a".to_string(),TokenizedConvertStatusConvertTypeEnum::Mint,).recv_window(5000).build().unwrap();

            let resp_json: Value = serde_json::from_str(r#"{"underlyingAsset":"AAPL","underlyingAssetAmount":"1.000000000","tokenizedAsset":"AAPLB","tokenizedAssetAmount":"1.000000000","issuerRequestId":"mint-20260505-8f3b9e1a2d3c4b5a","convertType":"MINT","status":"S","createdAt":1735900000000,"updatedAt":1735900060000}"#).unwrap_or_else(|_| serde_json::json!({}));
            let expected_response : models::TokenizedConvertStatusResponse = serde_json::from_value(resp_json.clone()).expect("should parse into models::TokenizedConvertStatusResponse");

            let resp = client.tokenized_convert_status(params).await.expect("Expected a response");
            let data_future = resp.data();
            let actual_response = data_future.await.unwrap();
            assert_eq!(actual_response, expected_response);
        });
    }

    #[test]
    fn tokenized_convert_status_response_error() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: true };

            let params = TokenizedConvertStatusParams::builder(
                "mint-20260505-8f3b9e1a2d3c4b5a".to_string(),
                TokenizedConvertStatusConvertTypeEnum::Mint,
            )
            .build()
            .unwrap();

            match client.tokenized_convert_status(params).await {
                Ok(_) => panic!("Expected an error"),
                Err(err) => {
                    assert_eq!(err.to_string(), "Connector client error: ResponseError");
                }
            }
        });
    }

    #[test]
    fn tokenized_mint_required_params_success() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: false };

            let params = TokenizedMintParams::builder("AAPL".to_string(), "1".to_string())
                .build()
                .unwrap();

            let resp_json: Value = serde_json::from_str(
                r#"{"issuerRequestId":"mint-20260505-8f3b9e1a2d3c4b5a","status":"P"}"#,
            )
            .unwrap_or_else(|_| serde_json::json!({}));
            let expected_response: models::TokenizedMintResponse =
                serde_json::from_value(resp_json.clone())
                    .expect("should parse into models::TokenizedMintResponse");

            let resp = client
                .tokenized_mint(params)
                .await
                .expect("Expected a response");
            let data_future = resp.data();
            let actual_response = data_future.await.unwrap();
            assert_eq!(actual_response, expected_response);
        });
    }

    #[test]
    fn tokenized_mint_optional_params_success() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: false };

            let params = TokenizedMintParams::builder("AAPL".to_string(), "1".to_string())
                .client_order_id("mint-client-id-32chars-0000000001".to_string())
                .recv_window(5000)
                .build()
                .unwrap();

            let resp_json: Value = serde_json::from_str(
                r#"{"issuerRequestId":"mint-20260505-8f3b9e1a2d3c4b5a","status":"P"}"#,
            )
            .unwrap_or_else(|_| serde_json::json!({}));
            let expected_response: models::TokenizedMintResponse =
                serde_json::from_value(resp_json.clone())
                    .expect("should parse into models::TokenizedMintResponse");

            let resp = client
                .tokenized_mint(params)
                .await
                .expect("Expected a response");
            let data_future = resp.data();
            let actual_response = data_future.await.unwrap();
            assert_eq!(actual_response, expected_response);
        });
    }

    #[test]
    fn tokenized_mint_response_error() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: true };

            let params = TokenizedMintParams::builder("AAPL".to_string(), "1".to_string())
                .build()
                .unwrap();

            match client.tokenized_mint(params).await {
                Ok(_) => panic!("Expected an error"),
                Err(err) => {
                    assert_eq!(err.to_string(), "Connector client error: ResponseError");
                }
            }
        });
    }

    #[test]
    fn tokenized_redeem_required_params_success() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: false };

            let params = TokenizedRedeemParams::builder("AAPLB".to_string(), "1".to_string())
                .build()
                .unwrap();

            let resp_json: Value = serde_json::from_str(
                r#"{"issuerRequestId":"redeem-20260505-a1b2c3d4e5f6","status":"P"}"#,
            )
            .unwrap_or_else(|_| serde_json::json!({}));
            let expected_response: models::TokenizedRedeemResponse =
                serde_json::from_value(resp_json.clone())
                    .expect("should parse into models::TokenizedRedeemResponse");

            let resp = client
                .tokenized_redeem(params)
                .await
                .expect("Expected a response");
            let data_future = resp.data();
            let actual_response = data_future.await.unwrap();
            assert_eq!(actual_response, expected_response);
        });
    }

    #[test]
    fn tokenized_redeem_optional_params_success() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: false };

            let params = TokenizedRedeemParams::builder("AAPLB".to_string(), "1".to_string())
                .client_order_id("redeem-client-id-32chars-000000001".to_string())
                .recv_window(5000)
                .build()
                .unwrap();

            let resp_json: Value = serde_json::from_str(
                r#"{"issuerRequestId":"redeem-20260505-a1b2c3d4e5f6","status":"P"}"#,
            )
            .unwrap_or_else(|_| serde_json::json!({}));
            let expected_response: models::TokenizedRedeemResponse =
                serde_json::from_value(resp_json.clone())
                    .expect("should parse into models::TokenizedRedeemResponse");

            let resp = client
                .tokenized_redeem(params)
                .await
                .expect("Expected a response");
            let data_future = resp.data();
            let actual_response = data_future.await.unwrap();
            assert_eq!(actual_response, expected_response);
        });
    }

    #[test]
    fn tokenized_redeem_response_error() {
        TOKIO_SHARED_RT.block_on(async {
            let client = MockTokenizedApiClient { force_error: true };

            let params = TokenizedRedeemParams::builder("AAPLB".to_string(), "1".to_string())
                .build()
                .unwrap();

            match client.tokenized_redeem(params).await {
                Ok(_) => panic!("Expected an error"),
                Err(err) => {
                    assert_eq!(err.to_string(), "Connector client error: ResponseError");
                }
            }
        });
    }
}
